@import "variable";
.content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 580px;
    padding: 0px 10px 0px 10px;
    margin: 0 auto;
}
.main{
    flex-grow: 1;
}

body {
    &.light-theme {
        background-color: $light-background-color;
        color: $light-text-color;
        a{
            color: $light-text-color;
        }
    }
    &.dark-theme {
        background-color: $dark-background-color;
        color: $dark-text-color;
        a{
            color: $dark-text-color;
        }
    }
}


